/* Menu */
.burger-menu {
  display: flex;
  justify-content: space-between;
}

.burger-menu__button {
  display: none;
}

.burger-menu__nav {
  flex-grow: 1;
  display: flex;
}

.burger-menu__nav ul {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a.burger-menu__logo {
  display: block;
  padding: 20px;
}
a.burger-menu__logo i {
  color: var(--header-color);
  font-size: 2rem;
}
a.burger-menu__logo i:hover {
  color: var(--hover-color);
  text-shadow: 0 0 2px var(--hover-color), 0 0 10px var(--hover-color);
}

.burger-menu__link {
  display: block;
  padding: 5px;
  position: relative;
  font-size: 1.2rem;
  transition: 0.3s;
}

.burger-menu__link:hover {
  color: var(--hover-color);
  text-shadow: 0 0 2px var(--hover-color), 0 0 10px var(--hover-color);
}

.burger-menu__link.active {
  color: var(--hover-color);
}

.burger-menu__link:before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--hover-color);
  box-shadow: 0 0 2px var(--hover-color), 0 0 10px var(--hover-color);
  transition: 0.3s;
  transform: scaleX(0);
}
.burger-menu__link:hover:before {
  width: 100%;
  transform: scaleX(0.9);
}


@media (max-width: 767px) {
 /* burger menu */
  .burger-menu__button {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 60px;
    transition: 0.4s;
    background-color: var(--burger-bg-color);
  }

  .burger-menu__lines,
  .burger-menu__lines::after,
  .burger-menu__lines::before {
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: var(--header-color);
    transition: 0.3s;
  }

  .burger-menu__lines {
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
  }

  .burger-menu__lines::before {
    content: '';
    top: -12px;
  }

  .burger-menu__lines::after {
    content: '';
    top: 12px;
  }

  .burger-menu_active .burger-menu__button,
  .burger-menu_active .burger-menu__lines {
    background-color: transparent;
  }

  .burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
  }

  .burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
  }
  /*title*/
  .burger-menu__title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--header-color);
    opacity: 0.7;
  }

  /*Burger menu*/
  .burger-menu__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 20;
    overflow-y: auto;
    transition: 0.5s;
    background-color: var(--burger-bg-color);
  }

  a.burger-menu__logo, ._scroll a.burger-menu__logo {
    margin-bottom: 50px;
  }
  a.burger-menu__logo i {
    font-size: 4rem;
  }

  .burger-menu__nav ul {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .burger-menu__nav ul li {
    width: 100%;
  }

  .burger-menu_active .burger-menu__nav {
    left: 0;
  }

  .burger-menu__nav--logo {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
    border-radius: 50%;
    background: url('../img/cat.png') #fff no-repeat center;
    background-size: 70%;
  }

  .burger-menu__link {
    width: 90%;
    margin: 0 auto;
    padding: 15px 20px;
    border-bottom: 1px solid #999;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    color: #45b29a;
  }

  .burger-menu__link:hover {
    filter: brightness(0.7);
  }

  .burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  .burger-menu_active .burger-menu__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .hidden {
    overflow: hidden;
  }
  /* End of the burger menu */
